@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');

/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

.header-image-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 200px;
}

.cyclist-image {
  width: 100%;
  height: auto; /* Оставить изображение пропорциональным */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.text-overlay h1 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.59px;
  color: #000000;
}

.text-overlay p {
  font-size: 1.2em;
  margin: 10px 0 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.56px;
  color: #000000;
}

.magtop1, .magtop2, .magtop3 {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 70%;
  transform: translate(-50%, 0%);
}

.magtop1 {
  left: 20%;
}

.magtop2 {
  left: 50%;
}

.magtop3 {
  left: 80%;
}

.middle-section {
  background-color: #28292D;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.middle-section h2 {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 120px;
  font-weight: 900;
  line-height: 154.91px;
  color:  #FFFFFF;
}

.middle-section p {
  margin: 10px 0 30px;
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: 100;
  line-height: 77.45px;
  color:  #FFFFFF;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-box {
  text-align: center;
}

.image-box img {
  width: 488px;
  height: 700px;
  border-radius: 10px;
}

.image-box p {
  position: relative;
  top: -150px;
  left: 50px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
}

.shop-button-middle {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  width: 138px;
  height: 30px;
  top: -150px;
  left: -130px;
}

.hit-prodagy {
  text-align: center;
}

.hit-prodagy h1 {
  margin: 20px;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.product-card {
  width: 150px;
  height: 250px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 10px;
}

.shop-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.product {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
  border-radius: 10px;
}
