

/* Основной контейнер страницы */
.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  
}


/* Форма */
.registration-form {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"] {
  width: 175%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.helper-text {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

/* Чекбоксы */
.form-group input[type="checkbox"] {
  margin-right: 10px;
  width: auto;
}

.form-group.checkbox-group {
  display: flex;
  max-width: fit-content;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
     margin: 0 !important;
  /* Опционально: увеличить размер чекбокса */
}

.checkbox-group label {
  min-width: 500px;
  font-size: 16px;
   margin:  0px 15px !important;

}

/* Кнопка */
.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e0a800;
}