.profile-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 50px;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-upload img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.photo-upload button {
  padding: 5px 10px;
  cursor: pointer;
}

.form-save {
  position: relative;
  right: -20px;
  top: 20px;
}

.save-button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.profile-form-input input[type="text"],
.profile-form-input input[type="email"],
.profile-form-input input[type="tel"],
.profile-form-input input[type="number"],
.profile-form-input input[type="password"] {

  padding: 10px;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.all-orders {
  margin-top: 36px; /* Добавляем отступ сверху для кнопки всех заказов */
  display: flex;
  justify-content: center; /* Центрируем кнопку по горизонтали */
}

.all-orders-button {
  background: #007bff; /* Синий цвет */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.all-orders-button:hover {
  background: #0056b3; /* Темно-синий цвет при наведении */
}

.admin-actions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.add-product-button,
.add-color-button {
  margin-bottom: 10px;
}

.color-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.color-form input {
  margin-bottom: 10px;
}
.admin-actions {
  margin-top: 20px;
}

.add-product-button,
.add-color-button,
.add-country-button,
.add-category-button,
.add-brand-button,
.add-gender-button,
.add-sport-button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.item-form {
  margin-top: 10px;
}

.item-form input {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
}

.item-form button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
}