/* App.css */
.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f8f8f8;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

.navigation a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}

.user-menu {
  display: flex;
  align-items: center;
}

.profile-button {
  background: yellow;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.home-page {
  padding: 50px;
}

.home-page .profile-button {
  background: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.profile-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 200px 350px;

}

.form-left,
.form-right,
.form-center {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  width: 300px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.photo-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.photo-upload img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.photo-upload button {
  padding: 5px 10px;
  cursor: pointer;
}

.form-save {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.save-button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
