@font-face {
  font-family: 'Jura';
  src: local('Jura'), url(../fonts/Jura-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  font-family: 'Jura';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: transparent;
  margin: 0 auto; /* Центрирование хедера */
  max-width: 1920px; /* Максимальная ширина хедера */
  width: 100%; /* Ширина хедера на всю доступную ширину */
  box-sizing: border-box; /* Учет паддингов в ширине */
  position: relative; /* Для z-index */
  z-index: 10; /* Убедитесь, что хедер выше других элементов */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  margin-bottom: 20px; /* Отступ между логотипом и навигацией */
  margin-right: 100px;
}

.logo {
  cursor: pointer;
}

.logo img {
  height: 60px;
}

.navigation {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 20px;
  cursor: pointer; /* Курсор для иконок */
  transition: transform 0.2s; /* Плавный переход при наведении */
}

.icon:hover {
  transform: scale(1.2); /* Увеличение иконки при наведении */
}

.profile-img {
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.login-button, .register-button {
  background-color: rgb(38, 0, 255);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:hover, .register-button:hover {
  background-color: #ffeb3b;
}

.header-right button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}

.header-right button:hover {
  color: #000;
}
