.footer {
  background-color: #28292D;
  color: #ffffff;
  padding: 40px 20px;
  max-width: 1920px;
  margin: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.footer-bottom-links li {
  margin: 0 10px;
}

.footer-language {
  margin-top: 10px;
}

.footer-language span {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
}
.footer-column ul {
  padding:0px 100px; /* Убираем отступы по умолчанию */
  list-style-type: none; /* Убираем маркеры списка */
}

.footer-column li {
  margin-bottom: 5px; /* Дополнительный отступ между элементами списка, если нужно */
  text-align: left; /* Выравниваем текст по левому краю */
}
